/backend/node_modules
/backend/public/img

# dependencies
frontend/node_modules
frontend/.pnp
frontend.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm/-debug.log*
/frontend/yarn/-debug.log*
/frontend/yarn/-error.log*

/frontend/public/img

/backend/node_modules
/backend/.env

# Dependencies
/mobil/node_modules/

# Expo


# Native
/mobil/ios
/mobil/android
/mobil/.kotlin/

# Debug
/mobil/npm-debug.*
/mobil/yarn-debug.*
/mobil/yarn-error.*

# Env
/mobil/.env
/mobil/.env.*

# Security
/mobil/*.jks
/mobil/*.p8
/mobil/*.p12
/mobil/*.key
/mobil/*.mobileprovision
/mobil/*.pem

# macOS
/mobil/.DS_Store

# TypeScript
/mobil/*.tsbuildinfo
/mobil/expo-env.d.ts








