
#Szures {
  position: absolute;   /* nagyon fontos */
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: rgb(46, 44, 44);
  width: 400px;
  padding: 20px;
  min-height: 100vh;    /* ne legyen 816 fixen */

    transform: translateX(-100%); 
  transition: 0.3s ease;
}

#Szures.nyitva {
  transform: translateX(0);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 9998;
}
.bezar-btn {
  background: none;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.Hargita {
  display: flex;
  position: relative;
}

.auto-details-page #Szures {  
  width: auto !important;
  max-width: 400px !important; /* vagy amit akarsz */
}

.App {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  gap: 32px;
  padding-right: 32px;
  background: #fafbfc;
}

.autok-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Szures p {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#fo-oldal {
  background-color: #fafbfc;
  padding: 20px;
  margin-top: 20px;
}
